* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utility*/

.grey {
    background-color: lightgray
}

.white {
    background-color: white;
}

.reverse {
    flex-direction: row-reverse;
}

ul li {
    list-style-type: none;
    display: inline;
}

.border {
    border: 2px dotted black
}

/*navbar*/

.navbar-container {
    background-color: rgb(173, 216, 230);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;

}

.navbar-logo,
.navbar-links,
.navbar-login {
    background-color: orange;
}

.navbar-logo, .navbar-login {
    height: 30px;
    flex-basis: calc((100% /12)*2)
}

.navbar-links {
    flex-grow: 1;
    text-align: center;
}

/*hero-section*/

.hero-section-container {
    background-color: rgb(0, 0, 139);
    padding: 30px 300px;
}

.hero-section-content {
    height: 250px;
    background-color: rgb(238, 130, 238);
}

/*main-section*/

.section-container {
    padding: 20px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-content-blu {
    background-color: blue;
    flex-basis: 60%;
    height: 300px;
}

.section-content-pink {
    background-color: pink;
    flex-basis: 40%;
    height: 300px;
}

/*green section*/

.green-section-container {
    padding: 30px 200px;
}

.green-section-contain {
    height: 500px;
    background-color: green;
}

/*footer*/

.up-section {
    background-color: darkgray;
    padding: 5px 200px;
    display: flex;
}

.salmon-item {
    background-color: salmon;
    height: 400px;
    flex-basis: calc((100% / 12) * 4);
}

.green-item {
    background-color: lightseagreen;
    height: 400px;
    flex-basis: calc((100% / 12) * 2);
    flex-grow: 1;
}